* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #3b393c;
}

.container {
  width: 400px;
  margin: auto;
}

.calc-body {
  width: 275px;
  margin: auto;
  min-height: 400px;
  border: solid 1px #ffff;
  box-shadow: 0 8px 50px -7px black;
}

.calc-screen {
  background: #f5eff7;
  width: 100%;
  height: 150px;
  padding: 20px;
}

.calc-operation {
  text-align: right;
  color: #727b86;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
}

.calc-typed {
  margin-top: 20px;
  font-size: 45px;
  text-align: right;
  color: #252725;
}
.calc-button-row {
  width: 100%;
  /*   background: #252725; */
}

.button {
  width: 25%;
  background: #252725;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  border: 2px solid white;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  transition: all 0.2s ease-in-out;
}
.c {
  background: #232523;
}
/* .button.l {
    color: #AEB3BA;
    background: #404D5E;
  } */
.upper-row {
  color: #4cbd5a;
}
.l {
  color: #4cbd5a;
}
.button.c {
  color: #d95d4e;
  background: #252725;
}
.button:hover {
  background: #820de9;
}

.c:hover {
  color: white;
  background: #ed1111;
}
.blink-me {
  color: #e0b612;
}
